/*------------------------------------*/
/*Cuerpo de la página*/
body{
    background-color:rgb(71, 154, 250);
}

/*------------------------------------*/
/*Barra de navegación*/
.barra{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(130, 255, 125);
    padding: 1em;
    border-style: solid;
    border-color: rgb(0, 0, 150);
}

/*Imagen_Logo*/
.imgCabecera{
    margin-top: 2.2em;
    margin-right: 2em;
    float:right;
    border-style: solid; 
    border-color: rgb(0, 0, 150);
}

/*opciones*/
li a{
    text-decoration: none;
    color: rgb(0, 0, 150);
}

li a:hover{
    text-decoration: underline;
    color: white;
}

/*-------------------------------*/

.tit_responsables{
    color:rgb(0, 0, 150);
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 110%;

}

.responsables{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(130, 255, 125);
    color: rgb(0, 0, 150);
    border-style: solid;
    border-color: rgb(0, 0, 150);
    margin: 1em;
    padding: 1em;
}