ul{
    list-style-type: none;
    background-color: #DC7633;
    position: fixed;
    width: 100%;
    margin: 20px;
    top: 0%;
    
}

ul li{
    float: left;
    border-right: 1px solid #FDFEFE;
}

.titulo_index{
    background-color: brown;
}

.titulo_h1{
    text-align: center;
    color: blue;
}